image {
    height: 75;
}

label {
    font-size: 10px;
}
/** Introduction section **/
#introduction {
    text-align: center;
}

/** Calculation Form section **/

#calculation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information {
    margin: 0.50em;
    width: 10vw;
}

/** Results section **/

#results {
    text-align: center;
}

/** Meal Generator **/

#meal-generator h2 {
    text-align: center;
}

#meal-and-food-boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#food-choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.food-choise {
    width: 75px;
    height: 75px;
    margin-bottom: 2.5vw;
}

/** Stiling of every food choise **/
.button-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boiled-egg {
    background-image: url(../images/boiled-egg.webp);
}

#bread-slice {
    background-image: url(../images/bread-slice.webp);
}

#broccoli {
    background-image: url(../images/brocoli.webp);
}

#ham {
    background-image: url(../images/ham.webp);
}

#babyleaf-salad {
    background-image: url(../images/babyleaf-salad.jpg);
}

#meat-stake {
    background-image: url(../images/meat-stake.webp);
}

#pasta {
    background-image: url(../images/pasta.webp);
}

#rice {
    background-image: url(../images/rice.webp);
}

#slice-cheese {
    background-image: url(../images/slice-cheese.webp);
}

#tuna-steak {
    background-image: url(../images/tuna-steak.webp);
}